.project-container {
  display: flex;
  align-items: center;
  /* aligns the items vertically in the center */
  margin-bottom: 100px;
  width: 100%;
}

.project-image {
  width: 40%;
  /* Sets each div to occupy 50% of the project-container's width */
  display: flex;
  /* Applies flex layout to help with inner content alignment */
  justify-content: center;
  /* Centers the content horizontally */
  align-items: center;
  /* Centers the content vertically */
  text-align: center;
}

.project-image img {
  /* height: 80%; */
  /* width: 80%; */
  max-width: 80%;
  /* object-fit: cover; */
  /* This will cover the div's area, possibly cropping the image */
  display: block;
  margin: 0 auto;
}

.project-image-a {
  display: inline-block;
  /* Makes the link behave more like an image */
}

.project-description {
  flex-grow: 1;
  width: 60%;
  margin-left: 20px;
}

.nav_bar {
  height: 50px;
  /* background-color: grey; */
  background-image: url(./images/blue.jpg);
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav_bar a {
  font-size: 16px;
  font-weight: bold;
  width: 250px;
  /* height: 40px; */
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  transition: background-color 0.7s ease, transform 0.3s ease;
}

.nav_bar a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  background-color: grey;
  transform: scale(1.1);
}

.subtitle {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.body_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 2;
  color: rgba(245, 245, 245, 0.801)
}

.section {
  margin-bottom: 20px;
  /* Space between sections */
  background: #ffffff;
  /* Background color of sections */
  padding: 10px;
  /* Padding inside sections */
  border-radius: 5px;
  /* Optional: rounds the corners of the section */
}

.column-header {
  /* background-color: #555; */
  color: white;
  text-align: center;
}

.column-content {
  /* background-color: #f9f9f9; */
  vertical-align: top;
}

.container {
  max-width: 1500px;
  /* width: 100vw; */
  background-image: url('./images/dark.jpg');
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
}

.intro-section {
  display: flex;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 0px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.intro-section img {
  border-radius: 70%;
  margin-top: 80px;
  margin-left: 50px;
}

body {
  margin: 0;
  padding: 0;
}

.skill_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill_box {
  background-color: rgba(255, 255, 255, 0.134);
  flex: 0 0 48%;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  line-height: 35px;
}

.brighter {
  color: #ffff99bf;
  /* dark yellow */
  /* color: #f0f0f0;    */
}

.tech_container {
  display: flex;
  align-items: center;
  /* Center vertically */
}

.tool_image {
  width: 15%;
  display: flex;
  justify-content: center;
  /* Center horizontally */
}

.tool_image img {
  max-width: 100%;
  height: auto;
}

.skillset_text {
  width: 70%;
}